<ion-tabs>
  <ion-tab-bar slot="bottom" class="ios-tab-bar">
    <ion-tab-button tab="dashboard" class="ios-tab-button">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses" class="ios-tab-button">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" class="ios-tab-button">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="ios-tab-button">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
