// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables - iOS Style **/
:root {
  /** primary - Custom Color **/
  --ion-color-primary: #8697ff;
  --ion-color-primary-rgb: 134, 151, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7685e0;
  --ion-color-primary-tint: #95a3ff;

  /** secondary **/
  --ion-color-secondary: #5856D6;
  --ion-color-secondary-rgb: 88, 86, 214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4d4cbc;
  --ion-color-secondary-tint: #6967da;

  /** tertiary **/
  --ion-color-tertiary: #5AC8FA;
  --ion-color-tertiary-rgb: 90, 200, 250;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #4fb0dc;
  --ion-color-tertiary-tint: #6bcefb;

  /** success - iOS Green **/
  --ion-color-success: #51fd8f;
  --ion-color-success-rgb: 81, 253, 143;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #48e07f;
  --ion-color-success-tint: #67fda0;

  /** warning - Income Yellow **/
  --ion-color-warning: #f5f934;
  --ion-color-warning-rgb: 245, 249, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dade2e;
  --ion-color-warning-tint: #f7fa4d;

  /** danger - iOS Red **/
  --ion-color-danger: #dc252e;
  --ion-color-danger-rgb: 220, 37, 46;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c22128;
  --ion-color-danger-tint: #e03d44;

  /** dark **/
  --ion-color-dark: #1C1C1E;
  --ion-color-dark-rgb: 28, 28, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #19191a;
  --ion-color-dark-tint: #333335;

  /** medium **/
  --ion-color-medium: #8E8E93;
  --ion-color-medium-rgb: 142, 142, 147;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7d7d81;
  --ion-color-medium-tint: #99999e;

  /** light - iOS Background **/
  --ion-color-light: #F2F2F7;
  --ion-color-light-rgb: 242, 242, 247;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d5d5d9;
  --ion-color-light-tint: #f3f3f8;

  /** iOS specific background colors **/
  --ion-background-color: #f6f7f8;
  --ion-background-color-rgb: 246, 247, 248;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-border-color: #c8c7cc;

  --ion-item-background: #ffffff;

  --ion-toolbar-background: #f8f8f8;

  --ion-tab-bar-background: #f8f8f8;

  --ion-card-background: #ffffff;
}

/* iOS mode specific styles */
.ios {
  --ion-toolbar-border-color: rgba(0, 0, 0, 0.12);
}
