// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables - iOS Style **/
:root {
  /** primary - Custom Color **/
  --ion-color-primary: #22acd0;
  --ion-color-primary-rgb: 34, 172, 208;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1e97b7;
  --ion-color-primary-tint: #38b4d5;

  /** secondary **/
  --ion-color-secondary: #5856D6;
  --ion-color-secondary-rgb: 88, 86, 214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4d4cbc;
  --ion-color-secondary-tint: #6967da;

  /** tertiary **/
  --ion-color-tertiary: #5AC8FA;
  --ion-color-tertiary-rgb: 90, 200, 250;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #4fb0dc;
  --ion-color-tertiary-tint: #6bcefb;

  /** success - iOS Green **/
  --ion-color-success: #34C759;
  --ion-color-success-rgb: 52, 199, 89;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2eaf4e;
  --ion-color-success-tint: #48cc6a;

  /** warning - iOS Orange **/
  --ion-color-warning: #FF9500;
  --ion-color-warning-rgb: 255, 149, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e08300;
  --ion-color-warning-tint: #ffa01a;

  /** danger - iOS Red **/
  --ion-color-danger: #FF3B30;
  --ion-color-danger-rgb: 255, 59, 48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e0342a;
  --ion-color-danger-tint: #ff4f45;

  /** dark **/
  --ion-color-dark: #1C1C1E;
  --ion-color-dark-rgb: 28, 28, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #19191a;
  --ion-color-dark-tint: #333335;

  /** medium **/
  --ion-color-medium: #8E8E93;
  --ion-color-medium-rgb: 142, 142, 147;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7d7d81;
  --ion-color-medium-tint: #99999e;

  /** light - iOS Background **/
  --ion-color-light: #F2F2F7;
  --ion-color-light-rgb: 242, 242, 247;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d5d5d9;
  --ion-color-light-tint: #f3f3f8;

  /** iOS specific background colors **/
  --ion-background-color: #f6f7f8;
  --ion-background-color-rgb: 246, 247, 248;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-border-color: #c8c7cc;

  --ion-item-background: #ffffff;

  --ion-toolbar-background: #f8f8f8;

  --ion-tab-bar-background: #f8f8f8;

  --ion-card-background: #ffffff;
}

/* iOS mode specific styles */
.ios {
  --ion-toolbar-border-color: rgba(0, 0, 0, 0.12);
}
